In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/amazon_data_webpage.html'

In [3]:
data = requests.get(url).text

In [4]:
soup = BeautifulSoup(data, 'html')

In [29]:
amazon_data = pd.DataFrame(columns=['Date','Open','High','Low','Close','adj close','Volume'])

In [31]:
for row in soup.find('tbody').find_all('tr'):
    col = row.find_all('td')
    row_data = [r.text.strip() for r in col]
    length=len(amazon_data)
    amazon_data.loc[length]=row_data

In [34]:
amazon_data.head()

           Date      Open      High       Low     Close adj close       Volume
0  Jan 01, 2021  3,270.00  3,363.89  3,086.00  3,206.20  3,206.20   71,528,900
1  Dec 01, 2020  3,188.50  3,350.65  3,072.82  3,256.93  3,256.93   77,556,200
2  Nov 01, 2020  3,061.74  3,366.80  2,950.12  3,168.04  3,168.04   90,810,500
3  Oct 01, 2020  3,208.00  3,496.24  3,019.00  3,036.15  3,036.15  116,226,100
4  Sep 01, 2020  3,489.58  3,552.25  2,871.00  3,148.73  3,148.73  115,899,300